<style>
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blink {
  animation: blink 1s linear 3; /* Blink every second, 3 times */
}

  .shadow {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    position: relative;
    top: 5px;
    cursor: pointer;
  }

  .cross{
    stroke:#be0000;
  }
  .shadow:hover .cross{
    stroke:#e41e1e;
  }

  div.modal .description{
    font-weight: bold;
  }
</style>
<div class="dashbar">
<CryptologoBanner @project="LeafWallet"></CryptologoBanner>
  
  <div class="connectinfo">
    {{#if this.wallet.isConnected}}
    
      <div {{on 'click' this.toggleIsShowingIconographykModal}} >
        <Icon @address={{this.wallet.connectedAccount}} @height="60" />
      </div>
      
<div class="fame-balance {{if this.shouldBlink 'blink'}}" 
     {{did-update this.balanceUpdated this.web3service.balance}}>
  {{this.web3service.balance}}
</div>
    {{else}}
       <div class="account" id="glow-red" {{on 'click' this.connect}}><b>&lt;</b> CONNECT <b>&gt;</b></div>
    {{/if}}
    
  </div>
</div> 




{{#if this.isShowingIconographyModal}}
<ModalDialog>
   <div class="modal">
      <div class="description">
        Unique Icons for each Wallet Address (highly distincitve, like hashes!)
      </div>
      <div class="modalbody">
         Our own CG wrote the code to create these beautiful unique icons for each wallet address.<br/>
      This is part of our ecosystem, find out what beautiful patterns your wallet address is hiding!
     
      </div>
    </div>
    
   <button class="closeicon" type="button" {{on 'click' this.closeIconographyModal}}>
        CLOSE
      </button>
</ModalDialog>
{{/if}}