

<style>

  p.modal
  {
    color: black;
    text-align: center;
    font-size: 1.2rem;
  padding: 0.5rem;
  }
p.modal.warn
{
  background-color: red;
  color: white;
  border-radius: 20px;
}
  .camera-container {
   position: relative;
   width: 640px;
   height: 480px;
}
.loading-spinner {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1;  /* Put the spinner above the video */
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}




.wallet-balance {
    font-size: 1.2rem;  /* Larger font size for importance */
    font-family: 'Courier New', Courier, monospace; /* Example of a font suitable for displaying numbers */
    color: #000;  /* Change color to your liking */
    text-align: right;   /* Align text to right */
    padding-right: 10px; /* Some padding so it doesn't stick to the border */
    width: 10rem;
}



.ceth-button, .assign-button {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

.actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky; /* Using sticky position */
    top: 60px; /* Setting it 60px from top */
    z-index: 10; /* To keep it above other content */
}

.wallet-info {
display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0.1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #e9e9e9;
    margin-bottom: 1rem;
    color: #333;
}

.eth-input {
    width: 5rem;
    margin-right: 1rem;
}
</style>

<DashBar></DashBar>

<div class="page">
  <div class="actions">
    <button type="button" {{action "showCameraViewModal"}} class="assign-button">Assign new Device</button>
    <button type="button" {{on 'click' this.getFunds}} class="ceth-button">GIVE 0.1 CETH</button>
  </div>

 {{#if this.wallet.isConnected}}
{{#each this.wallets as |wallet index|}}
    <div class="wallet-info">
       <div class="wallet-icon">
            <Icon @address={{wallet.device}} @height="50" />
       </div>
       <div class="app-name">
            webApp #{{increment index}}
       </div>
       <div class="wallet-balance">
            {{wallet.balance}}
       </div>
       <div>
            <input type="number" step="0.1" value="0.1" id="{{wallet.device}}" class="eth-input" />
            <button type="button" {{on "click" (fn this.sendFunds wallet.device)}}>Send funds</button>
       </div>
    </div>
{{/each}}
{{else}}
    <p>To participate, press "CONNECT" to connect to your Crypto-Wallet</p>
{{/if}}

  {{#if this.isShowingCameraViewModal}}
      <ModalDialog @onClose={{action "hideCameraViewModal"}} @targetAttachment="center" @translucentOverlay={{true}}>
          <div class="camera-container">
              {{#if this.camera.isLoading}}
                  <div class="loading-spinner">
                      <LoadingSpinner />
                  </div>
              {{/if}}

              <CameraView @validKeyReceived={{this.handleValidKey}}></CameraView>
          </div>

          <p class="modal {{this.warnClass}}">{{this.modalText}}</p>
          <button type="button" {{on 'click' this.hideCameraViewModal}}>X</button>
      </ModalDialog>
  {{/if}}

</div>
<div class="footer">
  CopyRight:
  <a href="https://cryptng.com">
      CryptNG
  </a>
  - this service is in development!
</div>