

<style>

button.assign{
border-radius: 50px;
margin: 10px;
color: black;
background-color: cadetblue;
border-color: black;
border-style: black solid 1px;
}

button.faucet{
border-radius: 50px;
margin: 10px;
color: black;
background-color: cadetblue;
border-color: black;
border-style: black solid 1px;

}

button .loading-spinner{
  position: relative;
}

button .spinner-container{
  height: auto;
  width: auto;
}
.new-wallet {
    animation: blinker 1s linear 3;  /* Blink every second, 3 times */
}

@keyframes blinker {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
  p.modal
  {
    color: black;
    text-align: center;
    font-size: 1.2rem;
  padding: 0.5rem;
  }
p.modal.warn
{
  background-color: red;
  color: white;
  border-radius: 20px;
}
  .camera-container {
   position: relative;
   width: 640px;
   height: 480px;
}
.loading-spinner {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1;  /* Put the spinner above the video */
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}




.wallet-balance {
    font-size: 1.2rem;  /* Larger font size for importance */
    font-family: 'Courier New', Courier, monospace; /* Example of a font suitable for displaying numbers */
    color: #000;  /* Change color to your liking */
    text-align: right;   /* Align text to right */
    padding-right: 10px; /* Some padding so it doesn't stick to the border */
    width: 10rem;
}



.ceth-button, .assign-button {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

.actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky; /* Using sticky position */
    top: 60px; /* Setting it 60px from top */
    z-index: 10; /* To keep it above other content */
}

.wallet-info {
display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0.1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #e9e9e9;
    margin-bottom: 1rem;
    color: #333;
}

.eth-input {
    width: 5rem;
    margin-right: 1rem;
}
</style>

<DashBar></DashBar>

<div class="page">
  <div class="actions">
    <button type="button" {{action "showCameraViewModal"}} class="assign assign-button">
       {{#if this.isShowingCameraViewModal}}
    <div class="loading-spinner">
      <LoadingSpinner />
    </div>
  {{else}}
<svg fill="#000000" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" width="50" height="50">
  <path d="M31,30.36h-8c-0.199,0-0.36-0.161-0.36-0.36v-2.64H2v-0.72h20.64v-1.28H5c-0.75,0-1.36-0.61-1.36-1.36 V13.926c-1.819-1.341-3-3.499-3-5.926c0-4.058,3.302-7.36,7.36-7.36c3.938,0,7.163,3.108,7.351,7H27c0.75,0,1.36,0.61,1.36,1.36 v6.64H31c0.199,0,0.36,0.161,0.36,0.36v14C31.36,30.199,31.199,30.36,31,30.36z M23.36,29.64h7.279v-2.28H23.36V29.64z M23.36,26.64 h7.279V16.36H23.36V26.64z M4.36,14.396V24c0,0.353,0.287,0.64,0.64,0.64h17.64V16c0-0.199,0.161-0.36,0.36-0.36h4.64V9 c0-0.353-0.287-0.64-0.64-0.64H15.351c-0.188,3.892-3.414,7-7.351,7C6.677,15.36,5.434,15.009,4.36,14.396z M8,1.36 C4.339,1.36,1.36,4.339,1.36,8S4.339,14.64,8,14.64s6.64-2.979,6.64-6.64S11.661,1.36,8,1.36z M8.36,12H7.64V8.36H4V7.64h3.64V4 h0.72v3.64H12v0.72H8.36V12z"/> 
  <rect width="32" height="32" fill="none"/>
</svg>

  {{/if}}
  </button>
    <button type="button" {{on 'click' this.getFunds}} class="faucet ceth-button">
       {{#if this.awaitingFunds}}
    <div class="loading-spinner">
      <LoadingSpinner />
    </div>
  {{else}}
      <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 465.199 465.198" xml:space="preserve" width="50" height="50">
  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
  <g id="SVGRepo_iconCarrier"> 
    <g> 
      <path d="M96.085,465.196c4.571,0.029,43.939,0.383,43.939-45.316c0-37.17-40.21-97.854-40.21-97.854s-46.015,62.443-46.273,99.135 C53.283,457.853,91.514,465.158,96.085,465.196z"></path> 
      <path d="M419.068,200.812v-66.938v-76.5h-47.812v47.812H313.88v-76.5h47.812c7.928,0,14.344-6.426,14.344-14.344 S369.621,0,361.693,0H237.38c-7.928,0-14.344,6.426-14.344,14.344s6.416,14.344,14.344,14.344h47.812v76.5h-92.039 c-88.176,0-115.907,58.79-118.259,89.878c-0.048,0.727-0.077,1.444-0.077,2.161v51.398H46.13v38.25h114.75v-38.25h-28.688v-49.983 c0.717-5.326,7.22-36.079,60.961-36.079h178.102v38.25H419.068z"></path> 
    </g> 
  </g>
</svg>

  {{/if}}
      </button>
  </div>

 {{#if this.wallet.isConnected}}
{{#each this.wallets as |wallet index|}}
 
<div class="wallet-info {{if wallet.isNew 'new-wallet'}}">
       <div class="wallet-icon">
            <Icon @address={{wallet.device}} @height="50" />
       </div>
       <div class="app-name">
            webApp #{{increment index}}
       </div>
       <div class="wallet-balance">
            {{wallet.balance}}
       </div>
       <div>
            <input type="number" step="0.1" value="0.1" id="{{wallet.device}}" class="eth-input" />
            <button type="button" {{on "click" (fn this.sendFunds wallet.device)}}>Send funds</button>
       </div>
    </div>
{{/each}}
{{else}}
    <p>To participate, press "CONNECT" to connect to your Crypto-Wallet</p>
{{/if}}

  {{#if this.isShowingCameraViewModal}}
      <ModalDialog @onClose={{action "hideCameraViewModal"}} @targetAttachment="center" @translucentOverlay={{true}}>
          <div class="camera-container">
              {{#if this.camera.isLoading}}
                  <div class="loading-spinner">
                      <LoadingSpinner />
                  </div>
              {{/if}}

              <CameraView @validKeyReceived={{this.handleValidKey}}></CameraView>
          </div>

          <p class="modal {{this.warnClass}}">{{this.modalText}}</p>
          <button type="button" {{on 'click' this.hideCameraViewModal}}>X</button>
      </ModalDialog>
  {{/if}}

</div>
<div class="footer">
  CopyRight:
  <a href="https://cryptng.com">
      CryptNG
  </a>
  - this service is in development!
</div>