{{page-title "LibwalletApp"}}
<style>
    .retrievedMessage
	{		
    color: bisque;
	}
</style>

{{#if this.isNotYetRegistered}}
<ol class="progress" style="--length: 5" role="list">
	<li style="--i: {{this.stage}}">
		<h3><span>{{this.stage}}</span>
        {{#if this.stage1}}Initializing Environment{{/if}}
        {{#if this.stage2}}Checking existing Device Wallet{{/if}}
        {{#if this.stage3}}Creating Device Wallet{{/if}}
        {{#if this.stage4}}Loading Device Wallet{{/if}}
        {{#if this.stage5}}Verifying Device Wallet{{/if}}
        </h3>
        <p>
            {{#if this.stage2}}
                Preparing your device environment to interact with the blockchain
            {{/if}}
            {{#if this.stage2}}
                Checking for device wallet in the secret storage of your device
            {{/if}}
            {{#if this.stage3}}
                Creating new device wallet into secret storage of your device
            {{/if}}
            {{#if this.stage4}}
                Loading the device wallet from the secret storage of your device
            {{/if}}
            {{#if this.stage5}}
				
					Please use the <b>Register Device App</b> to assign your device within the blockchain
					<DeviceQrCode @publicKey={{this.wallet.address}}/>
            {{/if}}
        </p>
	</li>
</ol>
{{else}}
<div class="page">
	<Card>
		<h3>LibWallet, your library to seamlessly integrate mobile dApps with Blockchain</h3>
		Balance: {{this.libwalletMobile.deviceWalletBalance}}
        <p>
            You can store some new message to the blockchain
			<div class="interaction">
			<Input @value={{this.newMessage}}/>
			<button {{on 'click' (fn this.submitNewMessage)}}>store</button>
			</div>
        </p>
		<p>
            Blockchain persisted message: 
        </p>
		<div class="retrievedMessage">
		<p>{{this.oldMessage}}</p>
		</div>
	</Card>
</div>
{{/if}}

{{outlet}}